body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 1px 20px;
    text-align: center;
    position: relative;
}

.top-nav {
    position: absolute;
    top: 10px;
    right: 20px;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.main-content {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.flash {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
  }